{% extends "base.html" %}
{% block content %}

    <div class="container create-user-form">
        <h1>Create User</h1>
        <form method="POST" action="{{ url_for('main_page.signup', server_name=server_name) }}">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="group">Group (Optional)</label>
            <input type="text" id="group" name="group">

            <label for="sudo">Sudo Access</label>
            <input type="checkbox" id="sudo" name="sudo">

            <label for="docker">Docker Access</label>
            <input type="checkbox" id="docker" name="docker">

            <label for="expiration">Access Expiration Date (Optional)</label>
            <input type="date" id="expiration" name="expiration">

            <button type="submit">Create User</button>
        </form>
    </div>
{% endblock content %}
